{% extends '::base.html.twig' %}

{% block slider %}
    <div class="item active">
        <img class="img-responsive" src="{{asset('img/slider/maillot.jpg')}}" alt="slider">                       
    </div>     
{% endblock %}
{% block body %}
<section class="about" style="background : rgb(25,125,120)">
	<p>Bienvenue In my web site</p>
</section>
{% endblock %} 