<div class="header-top">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".share-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-share-alt"></i>
    </button>
    <div class="collaspe share-collapse navbar-collapse">
	    <div class="pull-right social-icons">
	        <a href="#"><i class="fa fa-twitter"></i></a>
	        <a href="#"><i class="fa fa-facebook"></i></a>
	        <a href="#"><i class="fa fa-google-plus"></i></a>
	        <a href="#"><i class="fa fa-youtube"></i></a>
	    </div>
    </div>
</div> 