<section id="home"> 
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        {#<ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol> #}
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="img/slider/sf.jpg" alt="slider">                       
                <div class="carousel-caption">
                    <h2>Bienvenue </h2>
                    <h4>Decouvrez mes maillots et tout mon univers fhfuidhsfshdfh fhsdiuf hdsiuf hiusdgf iusd ghfyusdg figsi</h4>
                    <a href="#contact">Contactez-moi <i class="fa fa-angle-right"></i></a>
                </div>
            </div>             
        </div>
    </div>      
</section>